@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --primary-color : #f6e7cb;
    --secondary-color : #bce4d0;
    --accent1-color : #140707e8;
    --accent2-color: #d7d9c8;

    --heading-font: Kanit, serif;
    --paragraph-font: Roboto, serif;
    --heder-font: Anton, serif;

    --nav-background-color: #becdd7;
    --nav-link-color: #A03118;
    --nav-hover-link-color : #010a13;
    --nav-hover-background-color : #89B179;

}

* {
    margin: 0;
    padding: 0;
    max-width: 1080px;
    font-family: var(--paragraph-font);
}

p {
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: large;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}


header {
    background-color: var(--secondary-color);
    margin-left: 20px;
    margin-bottom: 2px;
    padding: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

header img {
    width: 200px;
    height: auto;
    margin-left: 50px;
}

.nav_header {
    display: flex;
    padding-right: 30px;
}

.nav_header a {
    flex: 30px;
    text-decoration: none;
    text-align: center;
    border: var(--nav-link-color) solid 1px;
    color: var(--heading-font);
    padding: 10px;
}

.nav_header a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    font-weight: 600;
}

.hero {
    margin-left: 20px;
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 240px;
    left: 450px;
    color: var(--accent1-color);
    font-family: var(--heder-font);
    font-size: 55px;
    letter-spacing: 2px;
}

.hero img {
    display: block;
    width: 1080px;
}

.hero article {
    position: absolute;
    top: 320px;
    left: 40px;
    max-width: 75%;
    padding: 20px;
    background-color: rgba(159, 168, 159, 0.7);
    box-sizing: border-box;    
}

article iframe {
    float: right;
    max-width: 60%;
    max-height: 40%;    
}

form {
    padding: 20px;
    position: absolute;
    top: 560px;
    left: 40px;
    background-color: rgba(159, 168, 159, 0.7);
    width: 900px;
    box-sizing: border-box;   
}

.form-items {
    display: grid;
    grid-template-columns: 10% 40%;
}

label, input {
    margin-bottom: 3px;
}

label {
    font-size: 18px;
}

input {
    padding: 5px;
}

.message {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 2fr;
    margin-bottom: 8px;
}

textarea {    
    max-width: 75%;
}

input[type="radio"] {
    margin-top: 0.1rem;
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 1rem;
    font-size: 18px;
}

input[type="checkbox"] {
    
    height: 1.5rem;
    width: 1.5rem;
    font-size: 18px;
}

button {
    display: block;
    width: 20%;
    border-radius: 5px;
    background-color: rgb(241, 75, 78);
    font-size: 20px;
    padding: 10px;
    margin-left: 5px;
}

button:hover {
    background-color: rgba(119, 76, 86, 0.891);
    font-weight: 600;
}



fieldset {
    border: none;
    margin: 3px;
    padding: 5px;
}

fieldset h4 {
    font-size: 18px;
}

.adventure {
    margin-top: 2px;
    background-color: var(--secondary-color);
    margin-left: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.adventure h2 {
    text-align: center;
}

.adventure1 {    
    display: flex;
    margin-left: 20px;
}

.adventure1 img {
    max-width:  80%;  
    max-height: 80%;  
    object-fit: contain;
}

figcaption {
  text-align: start;
  padding: 5px;
}

footer {
    display: flex;
    margin-top: 2px;
    margin-left: 20px;
    background-color: var(--secondary-color);
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
}

footer p {
    margin-left: auto;
}

.social-media {
    margin-left: auto;
}
.social-media img {
    max-width: 15%;
}

.social-media a {
    text-decoration: none;
    padding: 5px;
}



