@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root {
    --primary-color : #f6e7cb;
    --secondary-color : #bce4d0;
    --accent1-color : #140707e8;
    --accent2-color: #d7d9c8;

    --heading-font: Kanit, serif;
    --paragraph-font: Roboto, serif;

    --nav-background-color: #becdd7;
    --nav-link-color: #A03118;
    --nav-hover-link-color : #010a13;
    --nav-hover-background-color : #89B179;

}

* {
    margin: 0;
    padding: 0;
    max-width: 1080px;
    font-family: var(--paragraph-font);
}

p {
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: large;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}


header {
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

header img {
    width: 200px;
    height: auto;
    margin-left: 50px;
}

.nav_header {
    display: flex;
    padding-right: 30px;
}

.nav_header a {
    flex: 30px;
    text-decoration: none;
    text-align: center;
    border: var(--nav-link-color) solid 1px;
    color: var(--heading-font);
    padding: 10px;
}

.nav_header a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    font-weight: 600;
}

.hero {
    margin-left: 20px;
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 280px;
    left: 400px;
    color: var(--accent1-color);
}

.hero img {
    display: block;
    width: 100%;
}

.hero article {
    position: absolute;
    top: 500px;
    left: 40px;
    max-width: 75%;
    padding: 20px;
    background-color: rgba(159, 168, 159, 0.7);
    box-sizing: border-box;    
}

article img {
    float: right;
    max-width: 200px;
    width: 100%;
}

.history {
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.history h2 {
    text-align: center;
}

.adventure {
    background-color: var(--secondary-color);
    margin-left: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.adventure h2 {
    text-align: center;
}

.adventure1 {    
    display: flex;
    margin: 5px;

}

.adventure1 img {
    max-width:  80%;  
    max-height: 40%;  
    object-fit: contain;
}

figcaption {
  text-align: start;
  padding: 5px;
}

footer {
    display: flex;
    margin: 20px;
    background-color: var(--secondary-color);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

footer p {
    margin-left: auto;
}

.social-media {
    margin-left: auto;
}
.social-media img {
    max-width: 20%;
}

.social-media a {
    text-decoration: none;
}



