@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root {
    --primary-color : #f6e7cb;
    --secondary-color : #678d58;
    --accent1-color : #C2B398;
    --accent2-color: #33492A;

    --heading-font: Kanit, serif;
    --paragraph-font: Roboto, serif;

    --nav-background-color: #becdd7;
    --nav-link-color: #A03118;
    --nav-hover-link-color : #0e1114;
    --nav-hover-background-color : #89B179;

}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 10px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: inline-block;
    padding: 10px;
        
}

a {
    color: var(--nav-link-color);
    text-decoration: none;
}

a :hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
