
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');




:root {
    --primary-color : #f6e7cb;
    --secondary-color : #bce4d0;
    --accent1-color : black;
    --accent2-color: #d7d9c8;


    --heading-font: Kanit, sans-serif;
    --paragraph-font: Roboto, sans-serif;
    --header-font: Anton, sans-serif;

    --nav-background-color: #becdd7;
    --nav-link-color: #A03118;
    --nav-hover-link-color : #010a13;
    --nav-hover-background-color : #89B179;

}

* {
    margin: 0;
    padding: 0;
    max-width: 1080px;
    font-family: var(--paragraph-font);
}

p {
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: large;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}


header {
    background-color: var(--secondary-color);
    margin: 20px;
    margin-bottom: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

header img {
    width: 200px;
    height: auto;
    margin-left: 50px;
}

.nav_header {
    display: flex;
    padding-right: 30px;
}

.nav_header a {
    flex: 30px;
    text-decoration: none;
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 20px;
    font-weight: 600;
    border: var(--nav-link-color) solid 1px;
    color: var(--accent1-color);
    padding: 10px;
}

.nav_header a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    font-weight: 600;
}

.hero {
    margin-left: 20px;
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 280px;
    left: 450px;
    color: rgb(22, 106, 166);
    font-size: 65px;
    font-family: var(--header-font);
    letter-spacing: 6px;
}

.hero img {
    display: block;
    width: 100%;
    height: 300px;
}

.booking {
    position: absolute;
    top: 390px;
    left: 350px;
    max-width: 75%;
    padding: 20px;
    background-color: rgba(159, 168, 159, 0.7);
    box-sizing: border-box;    
}

.booking a {    
    display: block;
    text-decoration: none;
    width: 480px;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-family: var(--heading-font);
    font-weight: 800;
    color: var(--accent2-color);
    font-size: 30px;
    background-color: #5353ae;
    text-align: center;
}

.sec1 {
  margin-left: 20px;
  width: 100%;
}

.trips a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #3d55de;
    width: 80px;
    padding: 8px;
    font-weight: 700;
    margin-left: 100px;
}

.trip-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
    margin-top: 10px;
    box-sizing: border-box;
}

.sub1 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 30px;
    padding: 15px;
    background-color: var(--secondary-color);
    justify-content: center;
}

.sub1 p, h2 {
    margin-top: 10px;
    text-align: center;
    font-family: var(--paragraph-font);
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--accent1-color);
}

.sub2 p {
    padding: 10px;
    font-family: var(--paragraph-font);
    font-size: 16px;
    font-weight: 700;
    color: var(--accent1-color);
    text-align: center;
}

.sub2 h3 {
    text-align: center;
}

.sub2 {
    background-color: #dee3e6;
    margin-left: 5px;
    font-family: var(--paragraph-font);
    font-weight: 700;
}

.sub1 img {
    width: 350px;
    height: 300px;
}

table {
    margin-top: 20px;
    margin-left: 14px;
}

table, th, td {
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(31, 32, 33, 0.15);
    padding: 5px;
    text-align: center;
    font-size: 16px;
}

footer {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    background-color: var(--secondary-color);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 700;
}

footer a {
    text-decoration: none;
}

footer p {
    margin-left: auto;
}

.social-media {
    margin-left: auto;
}
.social-media img {
    max-width: 15%;
}

.social-media a {
    text-decoration: none;
}



