nav {
   background-color: steelblue;
   padding: 10px; 
}

nav a {
    color: white;
    padding: 20px;
    display: block;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}
aside img {
    width: 400px;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}
aside {
    width: 50rem;
    margin: 10px;
    padding: 5px;
    border: 1px solid slateblue;
    background-color: gray;
    color: azure;
    font-size: large;
    text-align: center;
}
