* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
   background-color: steelblue;
   padding: 10px; 
}

nav a {
    color: white;
    padding: 20px;
    display: block;
}

h1 {
    color: steelblue;
    text-align: center;
    padding: 10px;
}

p {
    margin: 10px;
}

main img {
    float: right;
    width: 200px;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

main {
    max-width: 840px;
}

aside img {
    width: 400px;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

aside {
    width: 50rem;
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #ecf6ff;
}
/* Class Selector */
.box {
    margin: 10px;
    padding: 1rem;
    border: 1px solid rgba(red, green, rgb(85, 168, 187), alpha);
    background-color: rgb(72, 135, 103);
    color: #ecf6ff;
}