* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
   background-color: steelblue;
   padding: 10px; 
}

nav a {
    color: white;
    padding: 5px;
    display: block;
    text-decoration: none;
    font-size: 24px;
}

h1 {
    color: steelblue;
    padding: 10px;
    border-bottom: steelblue 1px solid;
    margin-bottom: 5px;
}

p {
    margin: 10px;
}

main img {
    float: right;
    width: 200px;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

aside img {
    width: 300px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

aside {
    width: 25rem;
    text-align: center;
}

aside h2 {
    position: relative;

}

ul {
    list-style-type: none;
}

/* Class Selector */
.box {
    margin: 10px;
    padding: 2rem;
    background-color: rgb(72, 135, 103);
    color: #ecf6ff;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 25rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

footer {
    border-top: #080808 1px solid;
    text-align: center;
}